/* reset ***************************************************** */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* osnovno uredivanje HTML elemenata *********************************** */

nav {
	background-color: rgba(0, 20, 22, 0.7);
	text-align: center;
	padding: 1px;
}
#menuIcon {
	display: none;
}
body {
	background-image: url('../slike-video/31799.jpg');
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: Comic Sans MS, sans-serif;
	color: rgb(200, 200, 200);
}
#bodyhome {
	background-image: none;
	background-color: black;
}
a {
	text-decoration: none;
	color: rgb(163, 163, 163);
}
a:hover {
	color: red;
}
ul {
	list-style-type: none;
}
li {
	display: inline;
	font-size: 30px;
}
li:first-of-type,
li:nth-of-type(2),
li:nth-of-type(3) {
	margin-right: 50px;
}
h1 {
	font-size: 25px;
	margin-bottom: 40px;
	margin-left: 30px;
}
#h1home {
	font-size: 130px;
	color: rgb(0, 151, 20)
}
#contactnav {
	color: red;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 15px;
}
#contactnav:hover {
	color: yellowgreen;
}
/* forma ************************************************************* */

input[type=text] {
	width: 50%;
	max-width: 300px;
	;
	border-radius: 10px;
	margin-bottom: 40px;
	height: 40px;
	outline: none;
	transition: .3s;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
}
input[type=text]:focus {
	border-color: dodgerblue;
	box-shadow: 0 0 8px 0 dodgerblue;
}
/*button{background-color: gray;
border-radius: 5px;
outline: none;
width: 100px;
height: 40px;
font-size: 20px;
color: whitesmoke;
transition-duration: 0.4s;
margin-bottom: 50px;
margin-top: 30px;}
button:hover{background-color: rgb(0, 143, 43);
cursor:pointer;}*/

button {
	border: 0px solid #0a3c59;
	background: #006394;
	background: -webkit-gradient(linear, left top, left bottom, from(#006394), to(#006394));
	background: -webkit-linear-gradient(top, #006394, #006394);
	background: -moz-linear-gradient(top, #006394, #006394);
	background: -ms-linear-gradient(top, #006394, #006394);
	background: -o-linear-gradient(top, #006394, #006394);
	background-image: -ms-linear-gradient(top, #006394 0%, #006394 100%);
	padding: 5.5px 11px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 0px 0;
	-moz-box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 0px 0;
	box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 0px 0;
	text-shadow: #7ea4bd 0 1px 0;
	color: #ffffff;
	font-size: 20px;
	font-family: helvetica, serif;
	text-decoration: none;
	vertical-align: middle;
	margin-bottom: 40px;
	margin-left: 25px;
	outline: none;
	cursor: pointer;
}
button:hover {
	border: 0px solid #0a3c59;
	text-shadow: #1e4158 0 1px 0;
	background: #3e779d;
	background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
	background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
	background: -moz-linear-gradient(top, #65a9d7, #3e779d);
	background: -ms-linear-gradient(top, #65a9d7, #3e779d);
	background: -o-linear-gradient(top, #65a9d7, #3e779d);
	background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
	color: #fff;
}
button:active {
	text-shadow: #1e4158 0 1px 0;
	border: 0px solid #0a3c59;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);
	background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
	color: #fff;
}
/*********************************************************** struktura main */

main {
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	font-size: 20px;
}
main div:first-of-type {
	border-bottom: 1px dashed whitesmoke;
	margin-top: 50px;
}
#homemain {
	background-color: rgba(0, 0, 0, 0.5);
}
main div:first-of-type h1 {
	padding-top: 50px;
}
main div:last-of-type h1 {
	padding-top: 50px;
}
#homeParagraph {
	font-size: 50px;
	padding-bottom: 100px;
	color: whitesmoke;
}
#fuelDiv {
	border: none;
	padding-bottom: 50px;
}
#fuelDiv p:first-of-type {
	margin-top: 80px;
}
#fuelDiv p {
	margin-left: 20px;
}
/************************************************************** footer */

footer {
	background-color: rgb(0, 20, 22, 0.9);
	position: fixed;
	bottom: 0;
	width: 100%;
}
footer p {
	font-size: 20px;
	color: red;
}
/************************************************************** wrapper */

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 1em auto 1em auto;
}
.clearfix:after {
	content: " ";
	display: block;
	clear: both;
}
#video-background {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
}
@media (max-width: 767px) {
	li {
		font-size: 18px;
		display: block;
		margin-bottom: 15px;
		margin-left: 15px;
	}
	li:first-of-type,
	li:nth-of-type(2),
	li:nth-of-type(3) {
		margin-right: 0;
	}
	#homemain h1 {
		font-size: 70px;
		margin: 0px auto;
	}
	#homemain p {
		font-size: 30px;
	}
	footer p {
		font-size: 15px;
	}
	#menuIcon {
		display: block;
	}
	#menuIcon img {
		width: 30px;
		display: block;
		margin-top: 15px;
		margin-left: 15px;
	}
	nav {
		text-align: unset;
	}
	a:first-of-type {
		padding-left: 11px;
	}
	input[type=text] {
		width: 250px;
		margin-bottom: 30px;
		margin-top: 30px;
		height: 40px;
		margin-right: 30px;
	}
	button {
		width: 100px;
		height: 40px;
		font-size: 18px;
		margin: 0;
		margin-bottom: 20px;
	}
	h1 {
		font-size: 20px;
		margin: 0;
		padding: 0;
	}
	main div:first-of-type h1 {
		padding: 0;
		padding-top: 20px;
	}
	main div:last-of-type h1 {
		padding: 0px;
		padding-top: 20px;
	}
}